.btn {
  display : inline-block;
  padding : 0.5rem 2rem;
  background : transparent;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  cursor : pointer;
}

.btn-pri {
  padding-block : 0.7rem;
  background-color: hsl(var(--clr-sec));
  color : #000;
}

.btn-pri:hover, .btn-pri:focus {
  background-color: hsl(var(--clr-pri-light));
}

.btn-sec {
  background-color: hsla(0, 0%, 100%, 0.5);
  border : 2px solid hsl(var(--clr-sec));
}

.btn-sec:hover, .btn-sec:focus {
  border : 2px solid hsl(var(--clr-pri-dark));
}

.btn-user-action {
  border : 0;
  outline : 0;
  background-color : #fff;
  cursor : pointer;
}

.btn-user-action:hover, .btn-user-action:focus {
  opacity : 0.5;
}

.btn-book {
  background: transparent;
  cursor : pointer;
}

.btn-more-book-info {
  cursor: pointer;
  padding : 5px;
  background-color: transparent;
}

.btn-more-book-info:hover,
.btn-more-book-info:focus {
  color : hsl( var(--clr-sec-dark) );
}

.btn-more-book-info span {
  display : inline-block;
  height : 100%;
  padding : 5px;
  border-radius : 5px;
  background-color : hsl( var(--clr-pri), 0.9 );
}

.btn-more-book-info:hover span,
.btn-more-book-info:focus span {
  background-color: hsl( var(--clr-sec-dark) );
}