
:root {

  --base-font : Inter, Helvetica, sans-serif;
  --style-font : Shanti, Helvetica, sans-serif;
  --design-font : 'Londrina Outline';

  --padding-x-default : 2vw;
  --padding-y-default : 2rem;

  --clr-sec : 0, 100%, 95%;
  --clr-sec-dark : 0, 100%, 70%;
  --clr-pri : 210, 24%, 50%;
  --clr-pri-light : 209, 100%, 95%;
  --clr-pri-dark : 209, 100%, 75%;
  --clr-pri-ex-dark : 209, 100%, 10%;

  --link-transition : all 150ms ease-in-out;

}