

.user-actions {
  display : flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap : 1rem;
  padding : 0rem var(--padding-x-default) 2rem;
  width : 100%;
}


.search-bar {
  position: relative;
  padding : 0;
  margin : 0;
}

.search-label {
  position: absolute;
  top : 50%;
  left : 0.5rem;
  transform: translateY(-50%);
  transition: all 250ms;
}

.search-bar-input[type=text] {
  width : 600px;
  max-width : 400px;
  margin : 0;
}

.search-bar-input:focus + .search-label {
  top : 0;
  transform: translateY(-1.3rem);
}

.search-icon {
  position: absolute;
  top : 50%;
  right : 0.5rem;
  transform: translateY(-50%);
}

.library {
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap : 1rem;
}

.book {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.book:hover .book-btns,
.book:focus .book-btns{
  opacity: 1;
}

.book-cover-img img {
  width : 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.book-btns {
  position: absolute;
  bottom : 0;
  left : 0;
  width : 100%;
  display : flex;
  justify-content: space-evenly;
  padding : 5px;
  background-color: hsla(214, 95%, 17%, 0.7);
  opacity: 0.5;
}

.user-actions-modal {
  position : relative;
  padding : 1rem;
  border-radius: 10px;
  background-color: hsl(210, 130%, 98%);
}

.btn-close-user-action {
  position: absolute;
  top : 1rem;
  right : 1rem;
}

.user-actions-input {
  display : inline-block;
}


.setting, .setting-active {
  display : inline-block;
  padding : 0.5rem 1rem;
  margin-right : 1rem;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}

.setting-active {
  /* border : 1px solid hsl( var(--clr-sec-dark) ); */
  background-color: hsl( var(--clr-sec) );
  border-radius: 5px;
}

.flash-wrapper {
  content : '';
  position: fixed;
  top : 0;
  left : 0;
  width : 100vw;
  height : 100vh;
  z-index: 999;
  /* background-color : hsla(0, 0%, 0%, 0.6); */
  background-color : hsla( var(--clr-pri-ex-dark), 0.8 );
}

.flash {
  position : fixed;
  inset : 50% 10vw auto 10vw;
  z-index : 999;
  transform : translateY(-50%);
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding : 1rem;
  background-color : #ccc;
  border : 1px solid  + #333;
  border-radius : 0.5rem;
}

.flash-success {
  background-color : #C8FCDA;
  border-color: #079236;
}

.flash-fail {
  background-color : hsl( var(--clr-sec) );
  border-color: hsl( var(--clr-sec-dark) );
}

.flash-message {
  display : inline-block;
  margin-right : 1rem;
}